* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; }
  
  body {
    min-height: 100vh;
    min-width: 100vw;
    font-family: "Architects Daughter", cursive; }
  
  .grid {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-wrap: wrap; }
  
  .loader {
    width: 50vw;
    height: 50vh;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  
  #ld2 {
    display: flex;
    flex-direction: row;}
    #ld2 div {
      height: 40px;
      width: 5px;
      background: #FE4A49;
      margin: 3px;
      border-radius: 25px; }
    #ld2 div:nth-child(1) {
      animation: ld2 1s ease-in-out infinite 0s; }
    #ld2 div:nth-child(2) {
      animation: ld2 1s ease-in-out infinite 0.1s; }
    #ld2 div:nth-child(3) {
      animation: ld2 1s ease-in-out infinite 0.2s; }
    #ld2 div:nth-child(4) {
      animation: ld2 1s ease-in-out infinite 0.3s; }
    #ld2 div:nth-child(5) {
      animation: ld2 1s ease-in-out infinite 0.4s; }
    #ld2 div:nth-child(6) {
      animation: ld2 1s ease-in-out infinite 0.5s; }
    #ld2 div:nth-child(7) {
      animation: ld2 1s ease-in-out infinite 0.6s; }
  
  @keyframes ld2 {
    0% {
      transform: scaleY(1);
      background: #FED766; }
    25% {
      background: #009FB7; }
    50% {
      transform: scaleY(2);
      background: #59CD90; }
    75% {
      background: #FE4A49; }
    100% {
      transform: scaleY(1);
      background: #D91E36; } }
  #ld3 {
    position: relative;
    animation: outercontainer 4s linear infinite; }
    #ld3 div {
      height: 12px;
      width: 12px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
    #ld3 div:nth-child(1) {
      top: 20px;
      background: #59CD90;
      animation: ld3_div1 2s linear infinite; }
    #ld3 div:nth-child(2) {
      top: -20px;
      background: #D91E36;
      animation: ld3_div2 2s linear infinite; }
    #ld3 div:nth-child(3) {
      left: 20px;
      background: #F39237;
      animation: ld3_div4 2s linear infinite; }
    #ld3 div:nth-child(4) {
      left: -20px;
      background: #0072BB;
      animation: ld3_div3 2s linear infinite; }
  