html {
    margin: 0%;
    padding: 0%; }
  
  img {
    max-width: 100%; } 

.container-detail{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardd {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 70rem;
    height: min-content;
    padding: 25px;
    background: #ffffff;
    border: 2px solid #e1e3e6;
    border-radius: 20px;
    transition: .4s;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.cardd .card-header h3 {
    color: #404d61;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.cardd .card-header p {
    color: #757d8a;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.cardd .card-header span {
    position: absolute;
    color: #f43c3c;
    background: #fef0f0;
    right: 25px;
    top: 25px;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 18px;
}

.cardd .cardd-img {
    position: relative;
    height: 350px;
    border-radius: 12px;
    margin: 22px;
    overflow: hidden;
    margin-right: 2rem;
    margin-left: 1rem;
    cursor: pointer;
}

.cardd .cardd-img img {
    width: 32rem;
    height: 100%;
    transition: .4s;
}

.cardd-img:hover img {
    transform: scale(1.06);
}

.cardd .cardd-img i {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
    color: #757d8a;
    background: #ffffff;
    padding: 6px;
    border-radius: 6px;
}

.cardd .card-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2rem;
    max-width: 40%;
}

.cardd .card-details .price p {
    color: #757d8a;
    font-size: 20px;
}

.long-description{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: justify;
}

.cardd .card-details .price strong {
    color: #545d6d;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.cardd .card-details .colors div i {
    color: #ffffff;
    margin: 5px;
    font-size: 25px;
    opacity: 0;
}

.cardd .card-details .colors div.selected i {
    opacity: 1;
}


