.card {
    position: relative;
    width: 360px;
    height: min-content;
    padding: 25px;
    background: #ffffff;
    border: 2px solid #e1e3e6;
    border-radius: 20px;
    transition: .4s;
    margin-top: 2rem;
}

.card:hover {
    border-color: #ffffff;
    transform: translateY(-10px);
    box-shadow: 0 5px 12px rgba(0, 0, 0, .08);
}

.card .card-header h3 {
    color: #404d61;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.card .card-header p {
    color: #757d8a;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}

.card .card-img {
    position: relative;
    height: 200px;
    border-radius: 12px;
    margin: 22px 0;
    overflow: hidden;
}

.card .card-img img {
    width: 100%;
    height: 100%;
    transition: .4s;
}

.card:hover .card-img img {
    transform: scale(1.06);
}

.card .card-img i {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
    color: #757d8a;
    background: #ffffff;
    padding: 6px;
    border-radius: 6px;
}

.card .card-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .card-details .price p {
    color: #757d8a;
    font-size: 20px;
}

.card .card-details .price strong {
    color: #545d6d;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
}

.card .card-details .colors div.selected i {
    opacity: 1;
}

.card .card-sizes span {
    cursor: pointer;
    color: #757d8a;
    background: #f1f2f3;
    border-radius: 3px;
    padding: 6px 12px;
}

.card .card-sizes span.selected {
    color: #4e73f8;
    background: #d5defe;
}

.card .card-footer button {
    cursor: pointer;
    width: 100%;
    height: 46px;
    border-radius: 12px;
    background-color: rgb(127, 235, 113);;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: .5px;
    -webkit-text-stroke: 0.1px black;
}

.card-footer button:hover{
    box-shadow: 0px 4px 5px #d7d7db;
}

.card-link{
    text-decoration: none
};